[data-theme="light"] {
  --color-bg: #ffffff;
  --color-fg: #000000;
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-fg: #ffffff;
}

/* example use of CSS custom properties */
body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

/*
References:
- https://dev.to/whitep4nth3r/the-best-lightdark-mode-theme-toggle-in-javascript-368f
*/